.profile{
    height: 160px;
    width: 300px;
    background-color: white;
    overflow:hidden;
    border-bottom: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 59%);
}

.profile .container{
    position: relative;
    top: 100px;
    left: 3px;
    text-align: center;


}

.profile .container p, .profile .container p span{
    background-color: white;

}

.big-weight{
    font-weight: 700;
    font-size: 18px;
    color: hsl(180, 2%, 19%);
    background-color: white;
}